* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif, "Roboto";
  color: #333333;
}

.container {
  width: 1172px;
  margin: 0 auto;
}

.wrapper_center {
  padding: 0 calc(50% - 1172px / 2);
}

.product {
  background: #445161;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.product__alignment {
  display: flex;
  justify-content: space-between;
}

.main_title {
  font-weight: normal;
  font-size: 60px;
  line-height: 69px;
  margin: 25px 0 40px;
}

.product__text__list__point {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
  list-style: none;
  padding-left: 21px;
}

.product__img {
  margin: 27px 1px 34px 0;
}

.about_your_product {
  display: flex;
  justify-content: space-between;
}

.about_your_product__text__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 45px 0 17px;
}

.about_your_product__text__description_1,
.about_your_product__text__description_2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 11px;
  width: 646px;
}

.about_your_product__text__description_1 {
  height: 71px;
}

.about_your_product__text__description_2 {
  height: 68px;
}

.about_your_product__img {
  margin: 45px 0 50px;
}

.title {
  color: #445161;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 25px;
}

.digital__title {
  margin-bottom: 26px;
}

.digital {
  background: #f5f5f5;
  padding-bottom: 13px;
}

.digital__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.digital__list__point {
  width: 527px;
  height: 72px;
  margin-bottom: 33px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 42px;
}

.digital__list__point:first-child,
.digital__list__point:nth-child(2) {
  height: 65px;
}

.digital__list__point:nth-child(3),
.digital__list__point:nth-child(4) {
  margin-bottom: 26px;
}

.screenshots {
  padding-bottom: 24px;
}

.screenshots__title {
  margin-bottom: 45px;
}

.screenshots__all_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.screenshots__all_item__point {
  width: 568px;
  height: 153px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.screenshots__text {
  width: 360px;
  margin-left: 14px;
}

.screenshots__text__title_mini {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin-top: -4px;
  margin-bottom: 14px;
}

.screenshots__text__title_mini-low_mar_bot {
  margin-bottom: 3px;
}

.screenshots__text__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.reviews {
  background: #f5f5f5;
  padding-bottom: 18px;
  margin-left: 14px;
}

.reviews__title {
  margin-bottom: 31px;
}

.reviews__comments_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews__comment {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 22px;
  padding-right: 6px;
  padding-left: 7px;
}

.reviews__comment:nth-child(2n) {
  padding-left: 0;
}

.reviews__comment__ava_img {
  width: 63.46px;
  height: 63.46px;
  margin-top: 2px;
}

.reviews__comment__triangle_img {
  width: 30px;
  height: 24px;
  margin-top: 40px;
  margin-right: -7px;
}

.reviews__comment__recording {
  background: #ebebeb;
  border-radius: 5px;
  width: 468px;
  padding: 19px 0 5px 14px;
  margin-left: -8px;
}

.reviews__comment__recording__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: Roboto;
  font-style: italic;
  margin-bottom: 10px;
}

.reviews__comment__recording__author {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #989898;
}

.subscription {
  background: #445161;
  border-radius: 5px;
}

.subscription__price {
  background: #ffffff;
  border: 2px solid #445162;
  box-sizing: border-box;
}

.contacts {
  background: #445162;
}

.footer {
  background: #f5f5f5;
}
